<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>编程小技巧之 IDEA 的 Live Template | 程序员历小冰</title>
  <meta name="description" content="remcarpediem" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="合格的程序员都善于使用工具，正所谓君子性非异也，善假于物也。 使用自动化工具可以减少自己的工作量，提高工作效率。日常编程过程中，我们经常需要编写重复的代码片段，比如说   private static final Logger LOGGER = LoggerFactory.getLogger(HashServiceImpl.class);  每次编写时都要键入很多键，有什么方法可以快速生成这段代码">
<meta name="keywords" content="工具">
<meta property="og:type" content="article">
<meta property="og:title" content="编程小技巧之 IDEA 的 Live Template">
<meta property="og:url" content="http://remcarpediem.net/article/f35ff8b9/index.html">
<meta property="og:site_name" content="程序员历小冰">
<meta property="og:description" content="合格的程序员都善于使用工具，正所谓君子性非异也，善假于物也。 使用自动化工具可以减少自己的工作量，提高工作效率。日常编程过程中，我们经常需要编写重复的代码片段，比如说   private static final Logger LOGGER = LoggerFactory.getLogger(HashServiceImpl.class);  每次编写时都要键入很多键，有什么方法可以快速生成这段代码">
<meta property="og:locale" content="Chinese">
<meta property="og:image" content="https://upload-images.jianshu.io/upload_images/623378-93937a8adfb634a3.gif?imageMogr2/auto-orient/strip">
<meta property="og:image" content="https://upload-images.jianshu.io/upload_images/623378-72b01c6425b7214f.gif?imageMogr2/auto-orient/strip">
<meta property="og:image" content="https://upload-images.jianshu.io/upload_images/623378-ecfa28e13dc3834e.gif?imageMogr2/auto-orient/strip">
<meta property="og:image" content="https://upload-images.jianshu.io/upload_images/623378-6b35fdb8a3cabff1.gif?imageMogr2/auto-orient/strip">
<meta property="og:image" content="https://upload-images.jianshu.io/upload_images/623378-1e1a20edb9359b3a.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
<meta property="og:image" content="https://upload-images.jianshu.io/upload_images/623378-779f92162c27402b.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
<meta property="og:image" content="https://upload-images.jianshu.io/upload_images/623378-0f95752ee3371bd9.gif?imageMogr2/auto-orient/strip">
<meta property="og:image" content="https://upload-images.jianshu.io/upload_images/623378-8bc425c2ed384c2a.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
<meta property="og:image" content="https://upload-images.jianshu.io/upload_images/623378-289642734e6eb81b.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
<meta property="og:updated_time" content="2019-09-15T15:43:26.000Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="编程小技巧之 IDEA 的 Live Template">
<meta name="twitter:description" content="合格的程序员都善于使用工具，正所谓君子性非异也，善假于物也。 使用自动化工具可以减少自己的工作量，提高工作效率。日常编程过程中，我们经常需要编写重复的代码片段，比如说   private static final Logger LOGGER = LoggerFactory.getLogger(HashServiceImpl.class);  每次编写时都要键入很多键，有什么方法可以快速生成这段代码">
<meta name="twitter:image" content="https://upload-images.jianshu.io/upload_images/623378-93937a8adfb634a3.gif?imageMogr2/auto-orient/strip">
  <!-- build:css css/screen.css -->

  <link rel="stylesheet" href="/css/screen.css">
  <link rel="stylesheet" href="/css/prism.css">
  
  <link rel="stylesheet" href="/fancybox/jquery.fancybox.css" media="screen" type="text/css">
  
  <!-- endbuild -->
  
  <!-- build:css fancybox/jquery.fancybox.css -->
  <link rel="stylesheet" href="/fancybox/jquery.fancybox.css" media="screen" type="text/css">
  <!-- endbuild -->
  
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
  <meta name="generator" content="程序员历小冰">
  
  
  
<link rel="stylesheet" href="/css/prism-okaidia.css" type="text/css"></head>


<body class="post-template">

  <div class="nav">
  <h3 class="nav-title">Home</h3>
  <a href="#" class="nav-close">
    <span class="hidden">Close</span>
  </a>
  <ul>
    <li class="nav-home" role="presentation"><a href="/">Home</a></li>
    <!-- <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
    <li class="nav-author {% if page.current == 'author' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/casper">Author</a></li> -->
    <li class="nav-ios" role="presentation"><a href="/archives">Archives</a></li>
  </ul>
  <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>

  <div class="site-wrapper">
  <header class="main-header post-head no-cover">
    <nav class="main-nav  clearfix">
        
        <a class="back-button icon-arrow-left" href="/">Home</a>
        <!-- <a class="subscribe-button icon-feed" href="/atom.xml">Subscribe</a> -->
        <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
    </nav>
    
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

  

<main id="content" class="content" role="main">
  <article class="post" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      <h1 class="post-title" itemprop="name">http://remcarpediem.net/article/f35ff8b9/</h1>
      <section class="post-meta">
  <time datetime="2019-06-23T15:26:14.000Z" itemprop="datePublished" class="post-date">
      2019-06-23
  </time>
  
  
  
  <a href="/tags/工具/">工具</a>
  
  
</section>

    </header>
    <section class="post-content" itemprop="description articleBody">
      

      <!-- 
      <section class="post-updated">
  Last updated on <time datetime="2019-09-15T15:43:26.000Z" itemprop="dateModified">
      2019-09-15
  </time>
</section>

       -->
      <p>合格的程序员都善于使用工具，正所谓君子性非异也，善假于物也。</p>
<p>使用自动化工具可以减少自己的工作量，提高工作效率。日常编程过程中，我们经常需要编写重复的代码片段，比如说</p>

<!-- Has Prism -->
<pre class="line-numbers" style=""><code class="language-clike">private static final Logger LOGGER = LoggerFactory.getLogger(HashServiceImpl.class);
</code></pre>
<p>每次编写时都要键入很多键，有什么方法可以快速生成这段代码呢？类似的，如何保存格式固定的常用代码片段，然后在需要时快速生成呢。IDEA 的 Live Template 是一个可行的途径。</p>
<p>我也是最近才逐渐使用 IDEA 的 Live Template 功能，之前虽然知道这个功能，但是没有养成使用的习惯。最近一段时间在不断审视并反思自己的编程、工作和生活习惯，才发现其中有很多可以优化精进的地方。</p>
<p>这也是《程序员修炼之道》中所说的 Think ! About Your Work 。</p>
<p>IDEA 是一个很强大的编程工具，学会使用它能够极大的提高工作效率，将精力投入到更关键的事情上，而不是将时间浪费在编写重复代码上面。</p>
<p>而作为 Java 程序员，令人苦恼的地方是 Java 开发过程中经常需要编写有固定格式的代码，例如说声明一个私有变量，Logger 或者 Bean 等等。对于这种小范围的代码生成，我们可以利用 IDEA 提供的 Live Templates 功能。</p>
<p>Live Template 并不是简单的 Code Snippet，它甚至支持 Groovy函数配置，可以编写一些复杂的逻辑，支持很复杂的代码生成。</p>
<h3 id="基本使用"><a href="#基本使用" class="headerlink" title="基本使用"></a>基本使用</h3><p>IDEA 自带很多常用的动态模板，都是大家平常编码时的常用语句格式。比如说下面四张动图中的语句。</p>
<p>四张图分别是 声明静态 String 类型成员变量，判断字符串为空，for 循环和打印函数参数。</p>
<p><img src="https://upload-images.jianshu.io/upload_images/623378-93937a8adfb634a3.gif?imageMogr2/auto-orient/strip" alt="psfs"></p>
<p><img src="https://upload-images.jianshu.io/upload_images/623378-72b01c6425b7214f.gif?imageMogr2/auto-orient/strip" alt="ifn"></p>
<p><img src="https://upload-images.jianshu.io/upload_images/623378-ecfa28e13dc3834e.gif?imageMogr2/auto-orient/strip" alt="fori"></p>
<p><img src="https://upload-images.jianshu.io/upload_images/623378-6b35fdb8a3cabff1.gif?imageMogr2/auto-orient/strip" alt="soutp"></p>
<h3 id="自定义-Template"><a href="#自定义-Template" class="headerlink" title="自定义 Template"></a>自定义 Template</h3><p>打开配置页面，进入 Live Template 选项卡，我们可以看到 IDEA 预先设置的模板配置。这些模板都是最常用的一些语句，我们先来看一下它们都是如何定义的。</p>
<p><img src="https://upload-images.jianshu.io/upload_images/623378-1e1a20edb9359b3a.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" alt=""></p>
<p>缩写就是 IDEA 识别的模板的别名，就像文章开头展示的当你键入 <code>soutm</code> 时，IDEA 就会自动识别为该模板。</p>
<p>而应用上下文则表示该模板在什么上下文中生效。比如说上文中时一个 <code>System.out</code> 的语句，它只应该在 Java 的函数体中有效，所以它的应用上下文设置为 <code>Java: statement</code>，在其他类型文件或者 Java 文件的成员变量声明位置都无法使用该模板。</p>
<p><img src="https://upload-images.jianshu.io/upload_images/623378-779f92162c27402b.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" alt=""></p>
<p>模板内容就是你按下 Tab 键之后，IDEA 自动生成的内容，它一般包含两个部分，纯文本和参数。参数可以进行值绑定，还支持光标的自动跳转。如同上文所示，<code>$CLASS_NAME$</code> 和 <code>$METHOD_NAME$</code> 就是参数，而<code>$END$</code>是一个特殊的参数，它表示光标最后一个跳转的位置。</p>
<p>而参数设置就是设置这些参数的值，可以使用 IDEA 提供的一些内置函数，还可以使用强大的 Groovy 脚本。去 IDEA 的官网可以查看这些函数的具体作用。</p>
<p><img src="https://upload-images.jianshu.io/upload_images/623378-0f95752ee3371bd9.gif?imageMogr2/auto-orient/strip" alt="variables"></p>
<p>我们这里讲解一下 <code>groovyScript(&quot;groovy code&quot;, arg1)</code> 的使用。它能提供一切你想要的能力，它支持执行 Groovy 脚本处理输入，然后输出处理后的字符串</p>

<!-- Has Prism -->
<pre class="line-numbers" style=""><code class="language-clike">groovyScript(&quot;code&quot;, ...)

|  code   |   一段Groovy代码或者Groovy脚本代码绝对路径    |
|  ...    |   可选入参，这些参数会绑定到`_1, _2, _3, ..._n`, 在 Groovy 代码中使用。|
</code></pre>
<p>比如之前打印函数参数的模板是这样定义的。</p>
<p><img src="https://upload-images.jianshu.io/upload_images/623378-8bc425c2ed384c2a.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" alt=""></p>

<!-- Has Prism -->
<pre class="line-numbers" style=""><code class="language-clike">groovyScript(&quot;&#39;\&quot;&#39; + _1.collect { it + &#39; = [\&quot; + &#39; + it + &#39; + \&quot;]&#39;}.join(&#39;, &#39;) + &#39;\&quot;&#39;&quot;, methodParameters())
</code></pre>
<p><code>methodParameters</code> 是 IDEA 内置的函数，它返回的结果作为参数输入到 Groovy 的脚本中，生成打印参数函数的字符串。</p>
<h3 id="后记"><a href="#后记" class="headerlink" title="后记"></a>后记</h3><p>感谢大家的阅读，希望大家继续关注，也可以留言分享你最喜欢使用的编程工具和编程小技巧。</p>
<p><img src="https://upload-images.jianshu.io/upload_images/623378-289642734e6eb81b.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" alt=""></p>

      <h3>关于图片和转载</h3>

      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"></a><br>本作品采用<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">知识共享署名 4.0 国际许可协议</a>进行许可。

      转载时请注明原文链接，图片在使用时请保留图片中的全部内容，可适当缩放并在引用处附上图片所在的文章链接。

      <h3>关于评论和留言</h3>

      如果对本文 <a href="http://remcarpediem.net/article/f35ff8b9/">编程小技巧之 IDEA 的 Live Template</a> 的内容有疑问，请在下面的评论系统中留言，谢谢。

      <blockquote>
        <p>原文链接：<a href="http://remcarpediem.net/article/f35ff8b9/">编程小技巧之 IDEA 的 Live Template</a></p>

        <p>Follow: <a href="https://github.com/ztelur">Ztelur · GitHub</a></p>
      </blockquote>

    </section>
    <footer class="post-footer">
     
        <figure class="author-image">
          <a class="img" href="https://github.com/ztelur" style="background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1543337069412&di=609213db44c3240a091b26f82707da85&imgtype=0&src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farchive%2F65b2fd9d9a84c14f4a712ed0d71b0fbb67dcbf2d.jpg)"><span class="hidden">历小冰's Picture</span></a>
        </figure>
     
      <section class="author">
        <h4><a href="https://github.com/ztelur">历小冰</a></h4>
        
        <p> 君子不器</p>
         
        <div class="author-meta">
          <span class="author-location icon-location"> NanJing</span> 
          <span class="author-link icon-link"><a href="http://remcarpediem.net"> 程序员历小冰</a></span> 
        </div>
</section>
      <!--<section class="share">
    <h4>Share this post</h4>
    <a class="icon-twitter" href="http://twitter.com/share?url=http://remcarpediem.net/article/f35ff8b9/" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <span class="hidden">Twitter</span>
    </a>
    <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://remcarpediem.net/article/f35ff8b9/" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
        <span class="hidden">Facebook</span>
    </a>
    <a class="icon-google-plus" href="https://plus.google.com/share?url=http://remcarpediem.net/article/f35ff8b9/" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
        <span class="hidden">Google+</span>
    </a>
</section>-->
      
<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script src="/js/md5.min.js"></script>
<script>
    const gitalk = new Gitalk({
    clientID: 'ece2d2cd7c5f768a4c22',
    clientSecret: '1ad562557353b888b4b622239d45150c5df6d5ee',
    repo: 'blog-comments',
    owner: 'ztelur',
    admin: ['ztelur'],
    // labels: ['Gitalk', 'gitment'].concat(["{{ page.tags | join: '","'}}"]),
    // id: location.origin + location.pathname,
    id: md5("http://remcarpediem.net/article/f35ff8b9/"),
    // facebook-like distraction free mode
    distractionFreeMode: false
});

gitalk.render('gitalk-container')
</script>

    </footer>
  </article>
</main>
<aside class="read-next">
 
    
    <a class="read-next-story no-cover" href="/article/ec0c40ae/">
      <section class="post">
        <h2>用户日活月活怎么统计 - Redis HyperLogLog 详解</h2>
        <p>
            
              HyperLogLog 是一种概率数据结构，用来估算数据的基数。数据集可以是网站访客的 IP 地址，E-mail 邮箱或者用户 ID。
基数就是指一个集合中不同值的数目，比如 a, b, c, d 的基数就是 4，a, b, c, d, a 的基数还是 4。虽然 a 出现两次，只会被计算一次。
精确的计算数据集的基数需要消耗大量的内存来存储数据集。在遍历数据集时，判断当前遍历值是否已经存在唯一方法就是将这个值与已经遍历过的值进行一一对比 ......
            
          </p>
      </section>
    </a>
    
  


  
    
    <a class="read-next-story no-cover" href="/article/9a7bcda/">
      <section class="post">
        <h2>Redis RDB 持久化详解</h2>
        <p>
            
              Redis 是一种内存数据库，将数据保存在内存中，读写效率要比传统的将数据保存在磁盘上的数据库要快很多。但是一旦进程退出，Redis 的数据就会丢失。
为了解决这个问题，Redis 提供了 RDB 和 AOF 两种持久化方案，将内存中的数据保存到磁盘中，避免数据丢失。
antirez 在《Redis 持久化解密》一文中说，一般来说有三种常见的策略来进行持久化操作，防止数据损坏：

方法1 是数据库不关心发生故障，在数据文件损坏后通过数据 ......
            
          </p>
      </section>
    </a>
    
  
</aside>


  <footer class="site-footer clearfix">
 <section class="copyright"><a href="/">程序员历小冰</a> &copy; 2015 &bull; All rights reserved.</section>
 <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://zespia.tw/hexo/"> Hexo</a></section>
</footer>

  </div>
  <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-2.0.3.min.js"><\/script>')</script>

<script type="text/javascript" src="/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="/js/prism.js"></script>
<script type="text/javascript" src="/js/toc.js"></script>

<script type="text/javascript">
(function($){
  var $postContent = $(".post-content");
  $postContent.fitVids();
})(jQuery);
</script>

<script type="text/javascript" src="/js/index.js"></script>

<script src="/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
  (function($){
    var wrapAll = function(q) {
      $(q).each( function() {
        var $img = $(this),
            href = $img.attr('src');
        $img.wrap('<a rel="fancybox" href="' + href + '" title="' + $img.attr('alt') + '" class="link"></a>');
      });
    };
    wrapAll('.post-content img');
    wrapAll('.post-excerpt img');
    $('[rel="fancybox"]').fancybox();
  })(jQuery);
</script>





<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f089a91a688633df563c08899e3d893e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>



</body>
</html>
