<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Material Design 标注图 | 程序员历小冰</title>
  <meta name="description" content="remcarpediem" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="&amp;emsp;最近发现自己在实现产品需求时,在界面元素的细节部分把握不够准确,经常被leader告知需要微调一下界面元素的各类尺寸.虽然导致这个因素的最重要的原因是我场的设计太懒,不给标注,但是作为一个终端工程师,了解并掌握足够的设计相关的知识还是十分必要的,于是最近就开始研究其google的Material Design设计风格.&amp;emsp;本篇文章主要是收集一些MD风格的设计标注图和注意事项,主">
<meta name="keywords" content="Material Design">
<meta property="og:type" content="article">
<meta property="og:title" content="Material Design 标注图">
<meta property="og:url" content="http://remcarpediem.net/article/217ca59f/index.html">
<meta property="og:site_name" content="程序员历小冰">
<meta property="og:description" content="&amp;emsp;最近发现自己在实现产品需求时,在界面元素的细节部分把握不够准确,经常被leader告知需要微调一下界面元素的各类尺寸.虽然导致这个因素的最重要的原因是我场的设计太懒,不给标注,但是作为一个终端工程师,了解并掌握足够的设计相关的知识还是十分必要的,于是最近就开始研究其google的Material Design设计风格.&amp;emsp;本篇文章主要是收集一些MD风格的设计标注图和注意事项,主">
<meta property="og:locale" content="Chinese">
<meta property="og:image" content="http://7xjsjy.com1.z0.glb.clouddn.com/MD_a-33.png">
<meta property="og:image" content="http://7xjsjy.com1.z0.glb.clouddn.com/MD_button_sheet_1.png">
<meta property="og:image" content="http://7xjsjy.com1.z0.glb.clouddn.com/MD_button_sheet_2.png">
<meta property="og:image" content="http://7xjsjy.com1.z0.glb.clouddn.com/MD_cards_1.png">
<meta property="og:image" content="http://7xjsjy.com1.z0.glb.clouddn.com/MD_dialog_1.png">
<meta property="og:image" content="http://7xjsjy.com1.z0.glb.clouddn.com/MD_list_1.png">
<meta property="og:image" content="http://7xjsjy.com1.z0.glb.clouddn.com/MD_list_2.png">
<meta property="og:image" content="http://7xjsjy.com1.z0.glb.clouddn.com/MD_pickers_1.png">
<meta property="og:image" content="http://7xjsjy.com1.z0.glb.clouddn.com/MD_pickers_1.png">
<meta property="og:image" content="http://7xjsjy.com1.z0.glb.clouddn.com/MD_snackbars_1.png">
<meta property="og:image" content="http://7xjsjy.com1.z0.glb.clouddn.com/MD_text_fields_1.png">
<meta property="og:image" content="http://7xjsjy.com1.z0.glb.clouddn.com/MD_text_fields_2.png">
<meta property="og:image" content="http://7xjsjy.com1.z0.glb.clouddn.com/MD_text_fields_3.png">
<meta property="og:image" content="http://7xjsjy.com1.z0.glb.clouddn.com/MD_navigator_1.png">
<meta property="og:updated_time" content="2018-11-18T13:40:01.000Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Material Design 标注图">
<meta name="twitter:description" content="&amp;emsp;最近发现自己在实现产品需求时,在界面元素的细节部分把握不够准确,经常被leader告知需要微调一下界面元素的各类尺寸.虽然导致这个因素的最重要的原因是我场的设计太懒,不给标注,但是作为一个终端工程师,了解并掌握足够的设计相关的知识还是十分必要的,于是最近就开始研究其google的Material Design设计风格.&amp;emsp;本篇文章主要是收集一些MD风格的设计标注图和注意事项,主">
<meta name="twitter:image" content="http://7xjsjy.com1.z0.glb.clouddn.com/MD_a-33.png">
  <!-- build:css css/screen.css -->

  <link rel="stylesheet" href="/css/screen.css">
  <link rel="stylesheet" href="/css/prism.css">
  
  <link rel="stylesheet" href="/fancybox/jquery.fancybox.css" media="screen" type="text/css">
  
  <!-- endbuild -->
  
  <!-- build:css fancybox/jquery.fancybox.css -->
  <link rel="stylesheet" href="/fancybox/jquery.fancybox.css" media="screen" type="text/css">
  <!-- endbuild -->
  
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
  <meta name="generator" content="程序员历小冰">
  
  
  
<link rel="stylesheet" href="/css/prism-okaidia.css" type="text/css"></head>


<body class="post-template">

  <div class="nav">
  <h3 class="nav-title">Home</h3>
  <a href="#" class="nav-close">
    <span class="hidden">Close</span>
  </a>
  <ul>
    <li class="nav-home" role="presentation"><a href="/">Home</a></li>
    <!-- <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
    <li class="nav-author {% if page.current == 'author' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/casper">Author</a></li> -->
    <li class="nav-ios" role="presentation"><a href="/archives">Archives</a></li>
  </ul>
  <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>

  <div class="site-wrapper">
  <header class="main-header post-head no-cover">
    <nav class="main-nav  clearfix">
        
        <a class="back-button icon-arrow-left" href="/">Home</a>
        <!-- <a class="subscribe-button icon-feed" href="/atom.xml">Subscribe</a> -->
        <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
    </nav>
    
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

  

<main id="content" class="content" role="main">
  <article class="post" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      <h1 class="post-title" itemprop="name">Material Design 标注图</h1>
      <section class="post-meta">
  <time datetime="2016-01-01T10:40:33.000Z" itemprop="datePublished" class="post-date">
      2016-01-01
  </time>
  
  
  
  <a href="/tags/Material-Design/">Material Design</a>
  
  
</section>

    </header>
    <section class="post-content" itemprop="description articleBody">
      

      <!-- 
      <section class="post-updated">
  Last updated on <time datetime="2018-11-18T13:40:01.000Z" itemprop="dateModified">
      2018-11-18
  </time>
</section>

       -->
      <p>&emsp;最近发现自己在实现产品需求时,在界面元素的细节部分把握不够准确,经常被leader告知需要微调一下界面元素的各类尺寸.虽然导致这个因素的最重要的原因是我场的设计太懒,不给标注,但是作为一个终端工程师,了解并掌握足够的设计相关的知识还是十分必要的,于是最近就开始研究其google的Material Design设计风格.<br>&emsp;本篇文章主要是收集一些MD风格的设计标注图和注意事项,主要内容都来自于<a href="http://www.uisdc.com/comprehensive-material-design-note#" target="_blank" rel="noopener">重磅教程！帮你全面彻底搞定MATERIAL DESIGN的学习笔记</a>.</p>
<blockquote>
<p>MD风格的精髓在于<br>把物理世界的体验带进屏幕,去掉现实的杂质和随机性,保留保留其最原始纯净的形态、空间关系、变化与过渡，配合虚拟世界的灵活特性，还原最贴近真实的体验，达到简洁与直观的效果</p>
</blockquote>
<p>&emsp;其实以我现在的理解就是:</p>
<ul>
<li>界面元素的层次性</li>
<li>交互时强调带有意义并且具有现实特性的动画</li>
<li>两种纯色作为应用的基本颜色</li>
</ul>
<p>&emsp;这篇只是收藏MD风格中关于一些特定界面元素的标注图以备以后使用</p>
<h4 id="文字排版"><a href="#文字排版" class="headerlink" title="文字排版"></a>文字排版</h4><p>常用字号：</p>
<ul>
<li>12sp 小字提示</li>
<li>14sp（桌面端13sp） 正文/按钮文字</li>
<li>16sp（桌面端15sp） 小标题</li>
<li>20sp Appbar文字</li>
<li>24sp 大标题</li>
<li>34sp/45sp/56sp/112sp 超大号文字</li>
</ul>
<p>&emsp;长篇幅正文，每行建议60字符（英文）左右。短文本，建议每行30字符（英文）左右。</p>
<h4 id="常用尺寸"><a href="#常用尺寸" class="headerlink" title="常用尺寸"></a>常用尺寸</h4><blockquote>
<p>所有可操作元素最小点击区域尺寸：48dp X 48dp。<br>  栅格系统的最小单位是8dp，一切距离、尺寸都应该是8dp的整数倍。以下是一些常见的尺寸与距离：</p>
</blockquote>
<ul>
<li>顶部状态栏高度：24dp</li>
<li>Appbar最小高度：56dp</li>
<li>底部导航栏高度：48dp</li>
<li>悬浮按钮尺寸：56x56dp/40x40dp</li>
<li>用户头像尺寸：64x64dp/40x40dp</li>
<li>小图标点击区域：48x48dp</li>
<li>侧边抽屉到屏幕右边的距离：56dp</li>
<li>卡片间距：8dp</li>
<li>分隔线上下留白：8dp</li>
<li>大多元素的留白距离：16dp</li>
<li>屏幕左右对齐基线：16dp</li>
<li><p>文字左侧对齐基线：72dp<br><img src="http://7xjsjy.com1.z0.glb.clouddn.com/MD_a-33.png" alt="enter image description here"></p>
<h4 id="Button-sheets"><a href="#Button-sheets" class="headerlink" title="Button sheets"></a>Button sheets</h4><p><img src="http://7xjsjy.com1.z0.glb.clouddn.com/MD_button_sheet_1.png" alt="enter image description here"><br><img src="http://7xjsjy.com1.z0.glb.clouddn.com/MD_button_sheet_2.png" alt="enter image description here"></p>
<h4 id="Buttons"><a href="#Buttons" class="headerlink" title="Buttons"></a>Buttons</h4><p>&emsp;按钮分为悬浮按钮,凸起按钮和扁平按钮</p>
</li>
<li><p>悬浮按钮的操作都是正向操作</p>
</li>
<li>建议只用一个悬浮按钮</li>
<li>悬浮按钮可以贴在纸片边缘或者接缝处，但不要贴在对话框、侧边抽屉和菜单的边缘</li>
<li>悬浮按钮不能被其他元素盖住，也不能挡住其他按钮</li>
<li>列表滚动至底部时，悬浮按钮应该隐藏，防止它挡住列表项<br>悬浮按钮的位置不能随意摆放，可以贴着左右两边的对齐基线</li>
</ul>
<h4 id="Cards"><a href="#Cards" class="headerlink" title="Cards"></a>Cards</h4><ul>
<li>卡片统一带有2dp的圆角</li>
<li>同时展现多种不同内容</li>
<li>卡片内容之间不需要进行比较</li>
<li>包含了长度不确定的内容，比如评论</li>
<li>包含丰富的内容与操作项，比如赞、滚动条、评论</li>
<li>本该是列表，但文字超过3行</li>
<li><p>本该是网格，但需要展现更多文字<br><img src="http://7xjsjy.com1.z0.glb.clouddn.com/MD_cards_1.png" alt="enter image description here"></p>
<h4 id="Dialogs"><a href="#Dialogs" class="headerlink" title="Dialogs"></a>Dialogs</h4></li>
<li><p>注意有些对话框点击周围会消失,但是有些是不会消失的</p>
</li>
<li><p>对话框的四周留白比较大，通常是24dp。<br><img src="http://7xjsjy.com1.z0.glb.clouddn.com/MD_dialog_1.png" alt="enter image description here"></p>
<h4 id="Dividers"><a href="#Dividers" class="headerlink" title="Dividers"></a>Dividers</h4></li>
<li><p>列表中有头像、图片等元素时，使用内嵌分隔线，左端与文字对齐。</p>
</li>
<li>没有头像、图标等元素时，需要用通栏分隔线。</li>
<li>谨慎使用分隔线，留白和小标题也能起到分隔作用。能用留白的地方，优先使用留白。分隔线的层级高于留白。</li>
</ul>
<h4 id="Lists"><a href="#Lists" class="headerlink" title="Lists"></a>Lists</h4><ul>
<li><p>列表由行构成，行内包含瓦片。如果列表项内容文字超过3行，请改用卡片。如果列表项的主要区别在于图片，请改用网格。<br><img src="http://7xjsjy.com1.z0.glb.clouddn.com/MD_list_1.png" alt="enter image description here"><br><img src="http://7xjsjy.com1.z0.glb.clouddn.com/MD_list_2.png" alt="enter image description here"></p>
<h4 id="Pickers"><a href="#Pickers" class="headerlink" title="Pickers"></a>Pickers</h4><p><img src="http://7xjsjy.com1.z0.glb.clouddn.com/MD_pickers_1.png" alt="日期选择器"><br><img src="http://7xjsjy.com1.z0.glb.clouddn.com/MD_pickers_1.png" alt="时间选择器"></p>
<h4 id="Progress-amp-activity"><a href="#Progress-amp-activity" class="headerlink" title="Progress &amp; activity"></a>Progress &amp; activity</h4></li>
<li><p>进度条分为确定时间和不确定时间,不同的类型,动画效果不同</p>
</li>
<li>进度条可以使用在一些本来就有的元素上,比如悬浮按钮</li>
</ul>
<h4 id="Snackbars"><a href="#Snackbars" class="headerlink" title="Snackbars"></a>Snackbars</h4><p><img src="http://7xjsjy.com1.z0.glb.clouddn.com/MD_snackbars_1.png" alt="snackbars尺寸"></p>
<h4 id="Text-fields"><a href="#Text-fields" class="headerlink" title="Text fields"></a>Text fields</h4><p><img src="http://7xjsjy.com1.z0.glb.clouddn.com/MD_text_fields_1.png" alt="Text1"><br><img src="http://7xjsjy.com1.z0.glb.clouddn.com/MD_text_fields_2.png" alt="Text2"><br><img src="http://7xjsjy.com1.z0.glb.clouddn.com/MD_text_fields_3.png" alt="Text3"></p>
<h4 id="NavigatorBar"><a href="#NavigatorBar" class="headerlink" title="NavigatorBar"></a>NavigatorBar</h4><p><img src="http://7xjsjy.com1.z0.glb.clouddn.com/MD_navigator_1.png" alt="navigator尺寸"></p>

      <h3>关于图片和转载</h3>

      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"></a><br>本作品采用<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">知识共享署名 4.0 国际许可协议</a>进行许可。

      转载时请注明原文链接，图片在使用时请保留图片中的全部内容，可适当缩放并在引用处附上图片所在的文章链接。

      <h3>关于评论和留言</h3>

      如果对本文 <a href="http://remcarpediem.net/article/217ca59f/">Material Design 标注图</a> 的内容有疑问，请在下面的评论系统中留言，谢谢。

      <blockquote>
        <p>原文链接：<a href="http://remcarpediem.net/article/217ca59f/">Material Design 标注图</a></p>

        <p>Follow: <a href="https://github.com/ztelur">Ztelur · GitHub</a></p>
      </blockquote>

    </section>
    <footer class="post-footer">
     
        <figure class="author-image">
          <a class="img" href="https://github.com/ztelur" style="background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1543337069412&di=609213db44c3240a091b26f82707da85&imgtype=0&src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farchive%2F65b2fd9d9a84c14f4a712ed0d71b0fbb67dcbf2d.jpg)"><span class="hidden">历小冰's Picture</span></a>
        </figure>
     
      <section class="author">
        <h4><a href="https://github.com/ztelur">历小冰</a></h4>
        
        <p> 君子不器</p>
         
        <div class="author-meta">
          <span class="author-location icon-location"> NanJing</span> 
          <span class="author-link icon-link"><a href="http://remcarpediem.net"> 程序员历小冰</a></span> 
        </div>
</section>
      <!--<section class="share">
    <h4>Share this post</h4>
    <a class="icon-twitter" href="http://twitter.com/share?url=http://remcarpediem.net/article/217ca59f/" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <span class="hidden">Twitter</span>
    </a>
    <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://remcarpediem.net/article/217ca59f/" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
        <span class="hidden">Facebook</span>
    </a>
    <a class="icon-google-plus" href="https://plus.google.com/share?url=http://remcarpediem.net/article/217ca59f/" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
        <span class="hidden">Google+</span>
    </a>
</section>-->
      
<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script src="/js/md5.min.js"></script>
<script>
    const gitalk = new Gitalk({
    clientID: 'ece2d2cd7c5f768a4c22',
    clientSecret: '1ad562557353b888b4b622239d45150c5df6d5ee',
    repo: 'blog-comments',
    owner: 'ztelur',
    admin: ['ztelur'],
    // labels: ['Gitalk', 'gitment'].concat(["{{ page.tags | join: '","'}}"]),
    // id: location.origin + location.pathname,
    id: md5("http://remcarpediem.net/article/217ca59f/"),
    // facebook-like distraction free mode
    distractionFreeMode: false
});

gitalk.render('gitalk-container')
</script>

    </footer>
  </article>
</main>
<aside class="read-next">
 
    
    <a class="read-next-story no-cover" href="/article/b17c24a6/">
      <section class="post">
        <h2>Android文件存储位置简述</h2>
        <p>
            
              &emsp;最近一段时间,工作和学习方面都比较忙,所以,博客方面有一段时间没有投入时间啦,今天学习了一下android文件存储方面的知识,主要是Internal Storage和External Storage的相关特性.主要知识来自android的官方文档和其他人的博客.
Internal Storage&emsp;一般来说,你可以直接存储文件在机器的internal storage中,存储在这个位置的文件是私有的,其他应用无法获得. ......
            
          </p>
      </section>
    </a>
    
  


  
    
    <a class="read-next-story no-cover" href="/article/f1b0f003/">
      <section class="post">
        <h2>师者的教导</h2>
        <p>
            
              &emsp;最近一段时间,我一边在扇贝实习,一边跟着学校里的导师进行本科毕业设计.在公司里,mentor言传身教的教导我写出更简洁和具有统一风格的代码;在学校里,导师耳提面命的教导我如何一步一步的进行科研论设计.虽然很忙碌,但是却收获很多.
做好本职工作是否足够好?&emsp;扇贝公司是一个小厂,没有测试,设计给出的设计图和标注也不时会有些问题.我之前对此也有点不满,认为不给出标注或者色值会拖延开发进度,有时为了调整一个界面的margi ......
            
          </p>
      </section>
    </a>
    
  
</aside>


  <footer class="site-footer clearfix">
 <section class="copyright"><a href="/">程序员历小冰</a> &copy; 2015 &bull; All rights reserved.</section>
 <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://zespia.tw/hexo/"> Hexo</a></section>
</footer>

  </div>
  <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-2.0.3.min.js"><\/script>')</script>

<script type="text/javascript" src="/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="/js/prism.js"></script>
<script type="text/javascript" src="/js/toc.js"></script>

<script type="text/javascript">
(function($){
  var $postContent = $(".post-content");
  $postContent.fitVids();
})(jQuery);
</script>

<script type="text/javascript" src="/js/index.js"></script>

<script src="/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
  (function($){
    var wrapAll = function(q) {
      $(q).each( function() {
        var $img = $(this),
            href = $img.attr('src');
        $img.wrap('<a rel="fancybox" href="' + href + '" title="' + $img.attr('alt') + '" class="link"></a>');
      });
    };
    wrapAll('.post-content img');
    wrapAll('.post-excerpt img');
    $('[rel="fancybox"]').fancybox();
  })(jQuery);
</script>





<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f089a91a688633df563c08899e3d893e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>



</body>
</html>
