<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Redis RDB 持久化详解 | 程序员历小冰</title>
  <meta name="description" content="remcarpediem" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Redis 是一种内存数据库，将数据保存在内存中，读写效率要比传统的将数据保存在磁盘上的数据库要快很多。但是一旦进程退出，Redis 的数据就会丢失。 为了解决这个问题，Redis 提供了 RDB 和 AOF 两种持久化方案，将内存中的数据保存到磁盘中，避免数据丢失。 antirez 在《Redis 持久化解密》一文中说，一般来说有三种常见的策略来进行持久化操作，防止数据损坏：  方法1 是数据库">
<meta name="keywords" content="redis">
<meta property="og:type" content="article">
<meta property="og:title" content="Redis RDB 持久化详解">
<meta property="og:url" content="http://remcarpediem.net/article/9a7bcda/index.html">
<meta property="og:site_name" content="程序员历小冰">
<meta property="og:description" content="Redis 是一种内存数据库，将数据保存在内存中，读写效率要比传统的将数据保存在磁盘上的数据库要快很多。但是一旦进程退出，Redis 的数据就会丢失。 为了解决这个问题，Redis 提供了 RDB 和 AOF 两种持久化方案，将内存中的数据保存到磁盘中，避免数据丢失。 antirez 在《Redis 持久化解密》一文中说，一般来说有三种常见的策略来进行持久化操作，防止数据损坏：  方法1 是数据库">
<meta property="og:locale" content="Chinese">
<meta property="og:image" content="https://upload-images.jianshu.io/upload_images/623378-cc013bacdf6daf20.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
<meta property="og:image" content="https://upload-images.jianshu.io/upload_images/623378-ed2f8d6095a0976f.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
<meta property="og:image" content="https://upload-images.jianshu.io/upload_images/623378-ca8e0411371013b8.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
<meta property="og:image" content="https://upload-images.jianshu.io/upload_images/623378-ee4aa3f1cdfd5f65.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
<meta property="og:image" content="https://upload-images.jianshu.io/upload_images/623378-9337bcd51d556022.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
<meta property="og:image" content="https://upload-images.jianshu.io/upload_images/623378-289642734e6eb81b.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
<meta property="og:updated_time" content="2019-07-04T13:28:57.000Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Redis RDB 持久化详解">
<meta name="twitter:description" content="Redis 是一种内存数据库，将数据保存在内存中，读写效率要比传统的将数据保存在磁盘上的数据库要快很多。但是一旦进程退出，Redis 的数据就会丢失。 为了解决这个问题，Redis 提供了 RDB 和 AOF 两种持久化方案，将内存中的数据保存到磁盘中，避免数据丢失。 antirez 在《Redis 持久化解密》一文中说，一般来说有三种常见的策略来进行持久化操作，防止数据损坏：  方法1 是数据库">
<meta name="twitter:image" content="https://upload-images.jianshu.io/upload_images/623378-cc013bacdf6daf20.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
  <!-- build:css css/screen.css -->

  <link rel="stylesheet" href="/css/screen.css">
  <link rel="stylesheet" href="/css/prism.css">
  
  <link rel="stylesheet" href="/fancybox/jquery.fancybox.css" media="screen" type="text/css">
  
  <!-- endbuild -->
  
  <!-- build:css fancybox/jquery.fancybox.css -->
  <link rel="stylesheet" href="/fancybox/jquery.fancybox.css" media="screen" type="text/css">
  <!-- endbuild -->
  
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
  <meta name="generator" content="程序员历小冰">
  
  
  
<link rel="stylesheet" href="/css/prism-okaidia.css" type="text/css"></head>


<body class="post-template">

  <div class="nav">
  <h3 class="nav-title">Home</h3>
  <a href="#" class="nav-close">
    <span class="hidden">Close</span>
  </a>
  <ul>
    <li class="nav-home" role="presentation"><a href="/">Home</a></li>
    <!-- <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
    <li class="nav-author {% if page.current == 'author' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/casper">Author</a></li> -->
    <li class="nav-ios" role="presentation"><a href="/archives">Archives</a></li>
  </ul>
  <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>

  <div class="site-wrapper">
  <header class="main-header post-head no-cover">
    <nav class="main-nav  clearfix">
        
        <a class="back-button icon-arrow-left" href="/">Home</a>
        <!-- <a class="subscribe-button icon-feed" href="/atom.xml">Subscribe</a> -->
        <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
    </nav>
    
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

  

<main id="content" class="content" role="main">
  <article class="post" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      <h1 class="post-title" itemprop="name">Redis RDB 持久化详解</h1>
      <section class="post-meta">
  <time datetime="2019-07-04T13:28:23.000Z" itemprop="datePublished" class="post-date">
      2019-07-04
  </time>
  
  
  
  <a href="/tags/redis/">redis</a>
  
  
</section>

    </header>
    <section class="post-content" itemprop="description articleBody">
      

      <!--  -->
      <p>Redis 是一种内存数据库，将数据保存在内存中，读写效率要比传统的将数据保存在磁盘上的数据库要快很多。但是一旦进程退出，Redis 的数据就会丢失。</p>
<p>为了解决这个问题，Redis 提供了 RDB 和 AOF 两种持久化方案，将内存中的数据保存到磁盘中，避免数据丢失。</p>
<p>antirez 在《Redis 持久化解密》一文中说，一般来说有三种常见的策略来进行持久化操作，防止数据损坏：</p>
<ul>
<li><p>方法1 是数据库不关心发生故障，在数据文件损坏后通过数据备份或者快照来进行恢复。Redis 的 RDB 持久化就是这种方式。</p>
</li>
<li><p>方法2 是数据库使用操作日志，每次操作时记录操作行为，以便在故障后通过日志恢复到一致性的状态。因为操作日志是顺序追加的方式写的，所以不会出现操作日志也无法恢复的情况。类似于 Mysql 的 redo 和 undo 日志，具体可以看这篇<a href="https://mp.weixin.qq.com/s/QaN-ROOW06b6rm-HoiSX3g" target="_blank" rel="noopener">《InnoDB的磁盘文件及落盘机制》</a>文章。</p>
</li>
<li><p>方法3 是数据库不进行老数据的修改，只是以追加方式去完成写操作，这样数据本身就是一份日志，这样就永远不会出现数据无法恢复的情况了。CouchDB就是此做法的优秀范例。</p>
</li>
</ul>
<p>RDB 就是第一种方法，它就是把当前 Redis 进程的数据生成时间点快照( point-in-time snapshot ) 保存到存储设备的过程。</p>
<h3 id="RDB-的使用"><a href="#RDB-的使用" class="headerlink" title="RDB 的使用"></a>RDB 的使用</h3><p>RDB 触发机制分为使用指令手动触发和 redis.conf 配置自动触发。</p>
<p>手动触发 Redis 进行 RDB 持久化的指令的为:</p>
<ul>
<li>save ，该指令会阻塞当前 Redis 服务器，执行 save 指令期间，Redis 不能处理其他命令，直到 RDB 过程完成为止。</li>
<li>bgsave，执行该命令时，Redis 会在后台异步执行快照操作，此时 Redis 仍然可以相应客户端请求。具体操作是 Redis 进程执行 <code>fork</code> 操作创建子进程，RDB 持久化过程由子进程负责，完成后自动结束。Redis 只会在 <code>fork</code> 期间发生阻塞，但是一般时间都很短。但是如果 Redis 数据量特别大，<code>fork</code> 时间就会变长，而且占用内存会加倍，这一点需要特别注意。</li>
</ul>
<p>自动触发 RDB 的默认配置如下所示:<br>
<!-- Has Prism -->
<pre class="line-numbers" style=""><code class="language-clike">save 900 1 # 表示900 秒内如果至少有 1 个 key 的值变化，则触发RDB
save 300 10 # 表示300 秒内如果至少有 10 个 key 的值变化，则触发RDB
save 60 10000 # 表示60 秒内如果至少有 10000 个 key 的值变化，则触发RDB
</code></pre></p>
<p>如果不需要 Redis 进行持久化，那么可以注释掉所有的 save 行来停用保存功能，也可以直接一个空字符串来停用持久化：save “”。</p>
<p>Redis 服务器周期操作函数 <code>serverCron</code> 默认每个 100 毫秒就会执行一次，该函数用于正在运行的服务器进行维护，它的一项工作就是检查 save 选项所设置的条件是否有一项被满足，如果满足的话，就执行 bgsave 指令。</p>
<h3 id="RDB-整体流程"><a href="#RDB-整体流程" class="headerlink" title="RDB 整体流程"></a>RDB 整体流程</h3><p>了解了 RDB 的基础使用后，我们要继续深入对 RDB持久化的学习。在此之前，我们可以先思考一下如何实现一个持久化机制，毕竟这是很多中间件所需的一个模块。</p>
<p>首先，持久化保存的文件内容结构必须是紧凑的，特别对于数据库来说，需要持久化的数据量十分大，需要保证持久化文件不至于占用太多存储。<br>其次，进行持久化时，中间件应该还可以快速地响应用户请求，持久化的操作应该尽量少影响中间件的其他功能。<br>最后，毕竟持久化会消耗性能，如何在性能和数据安全性之间做出平衡，如何灵活配置触发持久化操作。</p>
<p>接下来我们将带着这些问题，到源码中寻求答案。</p>
<p>本文中的源码来自 Redis 4.0 ，RDB持久化过程的相关源码都在 rdb.c 文件中。其中大概的流程如下图所示。</p>
<p><img src="https://upload-images.jianshu.io/upload_images/623378-cc013bacdf6daf20.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" alt="image.png"></p>
<p>上图表明了三种触发 RDB 持久化的手段之间的整体关系。通过 <code>serverCron</code> 自动触发的 RDB 相当于直接调用了 bgsave 指令的流程进行处理。而 bgsave 的处理流程启动子进程后，调用了 save 指令的处理流程。</p>
<p>下面我们从 <code>serverCron</code> 自动触发逻辑开始研究。</p>
<h3 id="自动触发-RDB-持久化"><a href="#自动触发-RDB-持久化" class="headerlink" title="自动触发 RDB 持久化"></a>自动触发 RDB 持久化</h3><p><img src="https://upload-images.jianshu.io/upload_images/623378-ed2f8d6095a0976f.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" alt=""></p>
<p>如上图所示，<code>redisServer</code> 结构体的<code>save_params</code>指向拥有三个值的数组，该数组的值与 redis.conf 文件中 save 配置项一一对应。分别是 <code>save 900 1</code>、<code>save 300 10</code> 和 <code>save 60 10000</code>。<code>dirty</code> 记录着有多少键值发生变化，<code>lastsave</code>记录着上次 RDB 持久化的时间。</p>
<p>而 <code>serverCron</code> 函数就是遍历该数组的值，检查当前 Redis 状态是否符合触发 RDB 持久化的条件，比如说距离上次 RDB 持久化过去了 900 秒并且有至少一条数据发生变更。</p>

<!-- Has Prism -->
<pre class="line-numbers" style=""><code class="language-clike">int serverCron(struct aeEventLoop *eventLoop, long long id, void *clientData) {
    ....
    &#x2F;* Check if a background saving or AOF rewrite in progress terminated. *&#x2F;
    &#x2F;* 判断后台是否正在进行 rdb 或者 aof 操作 *&#x2F;
    if (server.rdb_child_pid != -1 || server.aof_child_pid != -1 ||
        ldbPendingChildren())
    {
        ....
    } else {
        &#x2F;&#x2F; 到这儿就能确定 当前木有进行 rdb 或者 aof 操作
        &#x2F;&#x2F; 遍历每一个 rdb 保存条件
         for (j = 0; j &lt; server.saveparamslen; j++) {
            struct saveparam *sp = server.saveparams+j;

            &#x2F;&#x2F;如果数据保存记录 大于规定的修改次数 且距离 上一次保存的时间大于规定时间或者上次BGSAVE命令执行成功，才执行 BGSAVE 操作
            if (server.dirty &gt;= sp-&gt;changes &amp;&amp;
                server.unixtime-server.lastsave &gt; sp-&gt;seconds &amp;&amp;
                (server.unixtime-server.lastbgsave_try &gt;
                 CONFIG_BGSAVE_RETRY_DELAY ||
                 server.lastbgsave_status == C_OK))
            {
                &#x2F;&#x2F;记录日志
                serverLog(LL_NOTICE,&quot;%d changes in %d seconds. Saving...&quot;,
                    sp-&gt;changes, (int)sp-&gt;seconds);
                rdbSaveInfo rsi, *rsiptr;
                rsiptr = rdbPopulateSaveInfo(&amp;rsi);
                &#x2F;&#x2F; 异步保存操作
                rdbSaveBackground(server.rdb_filename,rsiptr);
                break;
            }
         }
    }
    ....
    server.cronloops++;
    return 1000&#x2F;server.hz;
}
</code></pre>
<p>如果符合触发 RDB 持久化的条件，<code>serverCron</code>会调用<code>rdbSaveBackground</code>函数，也就是 bgsave 指令会触发的函数。</p>
<h3 id="子进程后台执行-RDB-持久化"><a href="#子进程后台执行-RDB-持久化" class="headerlink" title="子进程后台执行 RDB 持久化"></a>子进程后台执行 RDB 持久化</h3><p>执行 bgsave 指令时，Redis 会先触发 <code>bgsaveCommand</code> 进行当前状态检查，然后才会调用<code>rdbSaveBackground</code>，其中的逻辑如下图所示。</p>
<p><img src="https://upload-images.jianshu.io/upload_images/623378-ca8e0411371013b8.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" alt="示意图"></p>
<p><code>rdbSaveBackground</code> 函数中最主要的工作就是调用 <code>fork</code> 命令生成子流程，然后在子流程中执行 <code>rdbSave</code>函数，也就是 save 指令最终会触发的函数。<br>
<!-- Has Prism -->
<pre class="line-numbers" style=""><code class="language-clike">int rdbSaveBackground(char *filename, rdbSaveInfo *rsi) {
    pid_t childpid;
    long long start;
    &#x2F;&#x2F; 检查后台是否正在执行 aof 或者 rdb 操作
    if (server.aof_child_pid != -1 || server.rdb_child_pid != -1) return C_ERR;
    &#x2F;&#x2F; 拿出 数据保存记录，保存为 上次记录
    server.dirty_before_bgsave = server.dirty;
    &#x2F;&#x2F; bgsave 时间
    server.lastbgsave_try = time(NULL);
    start = ustime();
    &#x2F;&#x2F; fork 子进程
    if ((childpid = fork()) == 0) {
        int retval;
        &#x2F;* 关闭子进程继承的 socket 监听 *&#x2F;
        closeListeningSockets(0);
        &#x2F;&#x2F; 子进程 title 修改
        redisSetProcTitle(&quot;redis-rdb-bgsave&quot;);
        &#x2F;&#x2F; 执行rdb 写入操作
        retval = rdbSave(filename,rsi);
        &#x2F;&#x2F; 执行完毕以后
        ....
        &#x2F;&#x2F; 退出子进程
        exitFromChild((retval == C_OK) ? 0 : 1);
    } else {
        &#x2F;* 父进程，进行fork时间的统计和信息记录，比如说rdb_save_time_start、rdb_child_pid、和rdb_child_type *&#x2F;
        ....
        &#x2F;&#x2F; rdb 保存开始时间 bgsave 子进程
        server.rdb_save_time_start = time(NULL);
        server.rdb_child_pid = childpid;
        server.rdb_child_type = RDB_CHILD_TYPE_DISK;
        updateDictResizePolicy();
        return C_OK;
    }
    return C_OK; &#x2F;* unreached *&#x2F;
}
</code></pre></p>
<p>为什么 Redis 使用子进程而不是线程来进行后台 RDB 持久化呢？主要是出于Redis性能的考虑，我们知道Redis对客户端响应请求的工作模型是单进程和单线程的，如果在主进程内启动一个线程，这样会造成对数据的竞争条件。所以为了避免使用锁降低性能，Redis选择启动新的子进程，独立拥有一份父进程的内存拷贝，以此为基础执行RDB持久化。</p>
<p>但是需要注意的是，fork 会消耗一定时间，并且父子进程所占据的内存是相同的，当 Redis 键值较大时，fork 的时间会很长，这段时间内 Redis 是无法响应其他命令的。除此之外，Redis 占据的内存空间会翻倍。</p>
<h3 id="生成-RDB-文件，并且持久化到硬盘"><a href="#生成-RDB-文件，并且持久化到硬盘" class="headerlink" title="生成 RDB 文件，并且持久化到硬盘"></a>生成 RDB 文件，并且持久化到硬盘</h3><p>Redis 的 <code>rdbSave</code> 函数是真正进行 RDB 持久化的函数，它的大致流程如下：</p>
<ul>
<li>首先打开一个临时文件，</li>
<li>调用 <code>rdbSaveRio</code>函数，将当前 Redis 的内存信息写入到这个临时文件中，</li>
<li>接着调用 <code>fflush</code>、<code>fsync</code> 和 <code>fclose</code> 接口将文件写入磁盘中，</li>
<li>使用 <code>rename</code> 将临时文件改名为 正式的 RDB 文件，</li>
<li>最后记录 <code>dirty</code> 和 <code>lastsave</code>等状态信息。这些状态信息在 <code>serverCron</code>时会使用到。 </li>
</ul>

<!-- Has Prism -->
<pre class="line-numbers" style=""><code class="language-clike">int rdbSave(char *filename, rdbSaveInfo *rsi) {
    char tmpfile[256];
    &#x2F;&#x2F; 当前工作目录
    char cwd[MAXPATHLEN];
    FILE *fp;
    rio rdb;
    int error = 0;

    &#x2F;* 生成tmpfile文件名 temp-[pid].rdb *&#x2F;
    snprintf(tmpfile,256,&quot;temp-%d.rdb&quot;, (int) getpid());
    &#x2F;* 打开文件 *&#x2F;
    fp = fopen(tmpfile,&quot;w&quot;);
    .....
    &#x2F;* 初始化rio结构 *&#x2F;
    rioInitWithFile(&amp;rdb,fp);

    if (rdbSaveRio(&amp;rdb,&amp;error,RDB_SAVE_NONE,rsi) == C_ERR) {
        errno = error;
        goto werr;
    }

    if (fflush(fp) == EOF) goto werr;
    if (fsync(fileno(fp)) == -1) goto werr;
    if (fclose(fp) == EOF) goto werr;

    &#x2F;* 重新命名 rdb 文件，把之前临时的名称修改为正式的 rdb 文件名称 *&#x2F;
    if (rename(tmpfile,filename) == -1) {
        &#x2F;&#x2F; 异常处理
        ....
    }
    &#x2F;&#x2F; 写入完成，打印日志
    serverLog(LL_NOTICE,&quot;DB saved on disk&quot;);
    &#x2F;&#x2F; 清理数据保存记录
    server.dirty = 0;
    &#x2F;&#x2F; 最后一次完成 SAVE 命令的时间
    server.lastsave = time(NULL);
    &#x2F;&#x2F; 最后一次 bgsave 的状态置位 成功
    server.lastbgsave_status = C_OK;
    return C_OK;
    ....
}
</code></pre>
<p>这里要简单说一下 <code>fflush</code>和<code>fsync</code>的区别。它们俩都是用于刷缓存，但是所属的层次不同。<code>fflush</code>函数用于 <code>FILE*</code> 指针上，将缓存数据从应用层缓存刷新到内核中，而<code>fsync</code> 函数则更加底层，作用于文件描述符，用于将内核缓存刷新到物理设备上。</p>
<p>关于 Linux IO 的具体原理可以参考<a href="https://mp.weixin.qq.com/s/3mKxTH2pfXFpDvvJnDtgEQ" target="_blank" rel="noopener">《聊聊Linux IO》</a></p>
<h4 id="内存数据到-RDB-文件"><a href="#内存数据到-RDB-文件" class="headerlink" title="内存数据到 RDB 文件"></a>内存数据到 RDB 文件</h4><p><code>rdbSaveRio</code> 会将 Redis 内存中的数据以相对紧凑的格式写入到文件中，其文件格式的示意图如下所示。</p>
<p><img src="https://upload-images.jianshu.io/upload_images/623378-ee4aa3f1cdfd5f65.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" alt=""></p>
<p><code>rdbSaveRio</code>函数的写入大致流程如下：</p>
<ul>
<li><p>先写入 REDIS 魔法值，然后是 RDB 文件的版本( rdb_version )，额外辅助信息 ( aux )。辅助信息中包含了 Redis 的版本，内存占用和复制库( repl-id )和偏移量( repl-offset )等。</p>
</li>
<li><p>然后 <code>rdbSaveRio</code> 会遍历当前 Redis 的所有数据库，将数据库的信息依次写入。先写入 <code>RDB_OPCODE_SELECTDB</code>识别码和数据库编号，接着写入<code>RDB_OPCODE_RESIZEDB</code>识别码和数据库键值数量和待失效键值数量，最后会遍历所有的键值，依次写入。</p>
</li>
<li><p>在写入键值时，当该键值有失效时间时，会先写入<code>RDB_OPCODE_EXPIRETIME_MS</code>识别码和失效时间，然后写入键值类型的识别码，最后再写入键和值。</p>
</li>
<li><p>写完数据库信息后，还会把 Lua 相关的信息写入，最后再写入 <code>RDB_OPCODE_EOF</code>结束符识别码和校验值。</p>

<!-- Has Prism -->
<pre class="line-numbers" style=""><code class="language-clike">int rdbSaveRio(rio *rdb, int *error, int flags, rdbSaveInfo *rsi) {
    snprintf(magic,sizeof(magic),&quot;REDIS%04d&quot;,RDB_VERSION);
    &#x2F;* 1 写入 magic字符&#39;REDIS&#39; 和 RDB 版本 *&#x2F;
    if (rdbWriteRaw(rdb,magic,9) == -1) goto werr;
    &#x2F;* 2 写入辅助信息  REDIS版本,服务器操作系统位数,当前时间,复制信息比如repl-stream-db,repl-id和repl-offset等等数据*&#x2F;
    if (rdbSaveInfoAuxFields(rdb,flags,rsi) == -1) goto werr;
    &#x2F;* 3 遍历每一个数据库，逐个数据库数据保存 *&#x2F;
    for (j = 0; j &lt; server.dbnum; j++) {
        &#x2F;* 获取数据库指针地址和数据库字典 *&#x2F;
        redisDb *db = server.db+j;
        dict *d = db-&gt;dict;
        &#x2F;* 3.1 写入数据库部分的开始标识 *&#x2F;
        if (rdbSaveType(rdb,RDB_OPCODE_SELECTDB) == -1) goto werr;
        &#x2F;* 3.2 写入当前数据库号 *&#x2F;
        if (rdbSaveLen(rdb,j) == -1) goto werr;

        uint32_t db_size, expires_size;
        &#x2F;* 获取数据库字典大小和过期键字典大小 *&#x2F;
        db_size = (dictSize(db-&gt;dict) &lt;= UINT32_MAX) ?
                                dictSize(db-&gt;dict) :
                                UINT32_MAX;
        expires_size = (dictSize(db-&gt;expires) &lt;= UINT32_MAX) ?
                                dictSize(db-&gt;expires) :
                                UINT32_MAX;
        &#x2F;* 3.3 写入当前待写入数据的类型，此处为 RDB_OPCODE_RESIZEDB，表示数据库大小 *&#x2F;
        if (rdbSaveType(rdb,RDB_OPCODE_RESIZEDB) == -1) goto werr;
        &#x2F;* 3.4 写入获取数据库字典大小和过期键字典大小 *&#x2F;
        if (rdbSaveLen(rdb,db_size) == -1) goto werr;
        if (rdbSaveLen(rdb,expires_size) == -1) goto werr;
        &#x2F;* 4 遍历当前数据库的键值对 *&#x2F;
        while((de = dictNext(di)) != NULL) {
            sds keystr = dictGetKey(de);
            robj key, *o = dictGetVal(de);
            long long expire;

            &#x2F;* 初始化 key，因为操作的是 key 字符串对象，而不是直接操作 键的字符串内容 *&#x2F;
            initStaticStringObject(key,keystr);
            &#x2F;* 获取键的过期数据 *&#x2F;
            expire = getExpire(db,&amp;key);
            &#x2F;* 4.1 保存键值对数据 *&#x2F;
            if (rdbSaveKeyValuePair(rdb,&amp;key,o,expire) == -1) goto werr;
        }

    }

    &#x2F;* 5 保存 Lua 脚本*&#x2F;
    if (rsi &amp;&amp; dictSize(server.lua_scripts)) {
        di = dictGetIterator(server.lua_scripts);
        while((de = dictNext(di)) != NULL) {
            robj *body = dictGetVal(de);
            if (rdbSaveAuxField(rdb,&quot;lua&quot;,3,body-&gt;ptr,sdslen(body-&gt;ptr)) == -1)
                goto werr;
        }
        dictReleaseIterator(di);
    }

    &#x2F;* 6 写入结束符 *&#x2F;
    if (rdbSaveType(rdb,RDB_OPCODE_EOF) == -1) goto werr;

    &#x2F;* 7 写入CRC64校验和 *&#x2F;
    cksum = rdb-&gt;cksum;
    memrev64ifbe(&amp;cksum);
    if (rioWrite(rdb,&amp;cksum,8) == 0) goto werr;
    return C_OK;
}
</code></pre>
</li>
</ul>
<p><code>rdbSaveRio</code>在写键值时，会调用<code>rdbSaveKeyValuePair</code> 函数。该函数会依次写入键值的过期时间，键的类型，键和值。</p>

<!-- Has Prism -->
<pre class="line-numbers" style=""><code class="language-clike">int rdbSaveKeyValuePair(rio *rdb, robj *key, robj *val, long long expiretime)
{
    &#x2F;* 如果有过期信息 *&#x2F;
    if (expiretime != -1) {
        &#x2F;* 保存过期信息标识 *&#x2F;
        if (rdbSaveType(rdb,RDB_OPCODE_EXPIRETIME_MS) == -1) return -1;
        &#x2F;* 保存过期具体数据内容 *&#x2F;
        if (rdbSaveMillisecondTime(rdb,expiretime) == -1) return -1;
    }

    &#x2F;* Save type, key, value *&#x2F;
    &#x2F;* 保存键值对 类型的标识 *&#x2F;
    if (rdbSaveObjectType(rdb,val) == -1) return -1;
    &#x2F;* 保存键值对 键的内容 *&#x2F;
    if (rdbSaveStringObject(rdb,key) == -1) return -1;
    &#x2F;* 保存键值对 值的内容 *&#x2F;
    if (rdbSaveObject(rdb,val) == -1) return -1;
    return 1;
}
</code></pre>
<p>根据键的不同类型写入不同格式，各种键值的类型和格式如下所示。</p>
<p><img src="https://upload-images.jianshu.io/upload_images/623378-9337bcd51d556022.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" alt=""></p>
<p>Redis 有庞大的对象和数据结构体系，它使用六种底层数据结构构建了包含字符串对象、列表对象、哈希对象、集合对象和有序集合对象的对象系统。感兴趣的同学可以参考 <a href="https://mp.weixin.qq.com/s/gQnuynv6XPD_aeIBQBeI2Q" target="_blank" rel="noopener">《十二张图带你了解 Redis 的数据结构和对象系统》</a>一文。</p>
<p>不同的数据结构进行 RDB 持久化的格式都不同。我们今天只看一下集合对象是如何持久化的。<br>
<!-- Has Prism -->
<pre class="line-numbers" style=""><code class="language-clike">ssize_t rdbSaveObject(rio *rdb, robj *o) {
    ssize_t n = 0, nwritten = 0;
    ....
    } else if (o-&gt;type == OBJ_SET) {
        &#x2F;* Save a set value *&#x2F;
        if (o-&gt;encoding == OBJ_ENCODING_HT) {
            dict *set = o-&gt;ptr;
            &#x2F;&#x2F; 集合迭代器
            dictIterator *di = dictGetIterator(set);
            dictEntry *de;
            &#x2F;&#x2F; 写入集合长度
            if ((n = rdbSaveLen(rdb,dictSize(set))) == -1) return -1;
            nwritten += n;
            &#x2F;&#x2F; 遍历集合元素
            while((de = dictNext(di)) != NULL) {
                sds ele = dictGetKey(de);
                &#x2F;&#x2F; 以字符串的形式写入，因为是SET 所以只写入 Key 即可
                if ((n = rdbSaveRawString(rdb,(unsigned char*)ele,sdslen(ele)))
                    == -1) return -1;
                nwritten += n;
            }
            dictReleaseIterator(di);
        } 
    .....
    return nwritten;
}
</code></pre></p>
<p><img src="https://upload-images.jianshu.io/upload_images/623378-289642734e6eb81b.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" alt=""></p>

      <h3>关于图片和转载</h3>

      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"></a><br>本作品采用<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">知识共享署名 4.0 国际许可协议</a>进行许可。

      转载时请注明原文链接，图片在使用时请保留图片中的全部内容，可适当缩放并在引用处附上图片所在的文章链接。

      <h3>关于评论和留言</h3>

      如果对本文 <a href="http://remcarpediem.net/article/9a7bcda/">Redis RDB 持久化详解</a> 的内容有疑问，请在下面的评论系统中留言，谢谢。

      <blockquote>
        <p>原文链接：<a href="http://remcarpediem.net/article/9a7bcda/">Redis RDB 持久化详解</a></p>

        <p>Follow: <a href="https://github.com/ztelur">Ztelur · GitHub</a></p>
      </blockquote>

    </section>
    <footer class="post-footer">
     
        <figure class="author-image">
          <a class="img" href="https://github.com/ztelur" style="background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1543337069412&di=609213db44c3240a091b26f82707da85&imgtype=0&src=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Farchive%2F65b2fd9d9a84c14f4a712ed0d71b0fbb67dcbf2d.jpg)"><span class="hidden">历小冰's Picture</span></a>
        </figure>
     
      <section class="author">
        <h4><a href="https://github.com/ztelur">历小冰</a></h4>
        
        <p> 君子不器</p>
         
        <div class="author-meta">
          <span class="author-location icon-location"> NanJing</span> 
          <span class="author-link icon-link"><a href="http://remcarpediem.net"> 程序员历小冰</a></span> 
        </div>
</section>
      <!--<section class="share">
    <h4>Share this post</h4>
    <a class="icon-twitter" href="http://twitter.com/share?url=http://remcarpediem.net/article/9a7bcda/" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <span class="hidden">Twitter</span>
    </a>
    <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://remcarpediem.net/article/9a7bcda/" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
        <span class="hidden">Facebook</span>
    </a>
    <a class="icon-google-plus" href="https://plus.google.com/share?url=http://remcarpediem.net/article/9a7bcda/" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
        <span class="hidden">Google+</span>
    </a>
</section>-->
      
<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script src="/js/md5.min.js"></script>
<script>
    const gitalk = new Gitalk({
    clientID: 'ece2d2cd7c5f768a4c22',
    clientSecret: '1ad562557353b888b4b622239d45150c5df6d5ee',
    repo: 'blog-comments',
    owner: 'ztelur',
    admin: ['ztelur'],
    // labels: ['Gitalk', 'gitment'].concat(["{{ page.tags | join: '","'}}"]),
    // id: location.origin + location.pathname,
    id: md5("http://remcarpediem.net/article/9a7bcda/"),
    // facebook-like distraction free mode
    distractionFreeMode: false
});

gitalk.render('gitalk-container')
</script>

    </footer>
  </article>
</main>
<aside class="read-next">
 
    
    <a class="read-next-story no-cover" href="/article/f35ff8b9/">
      <section class="post">
        <h2>编程小技巧之 IDEA 的 Live Template</h2>
        <p>
            
              合格的程序员都善于使用工具，正所谓君子性非异也，善假于物也。
使用自动化工具可以减少自己的工作量，提高工作效率。日常编程过程中，我们经常需要编写重复的代码片段，比如说


private static final Logger LOGGER = LoggerFactory.getLogger(HashServiceImpl.class);

每次编写时都要键入很多键，有什么方法可以快速生成这段代码呢？类似的，如何保存格式固定的常用代码片 ......
            
          </p>
      </section>
    </a>
    
  


  
    
    <a class="read-next-story no-cover" href="/article/376c55d8/">
      <section class="post">
        <h2>Redis AOF 持久化详解</h2>
        <p>
            
              Redis 是一种内存数据库，将数据保存在内存中，读写效率要比传统的将数据保存在磁盘上的数据库要快很多。但是一旦进程退出，Redis 的数据就会丢失。
为了解决这个问题，Redis 提供了 RDB 和 AOF 两种持久化方案，将内存中的数据保存到磁盘中，避免数据丢失。RDB的介绍在这篇文章中《Redis RDB 持久化详解》，今天我们来看一下 AOF 相关的原理。
AOF( append only file )持久化以独立日志的方式记录 ......
            
          </p>
      </section>
    </a>
    
  
</aside>


  <footer class="site-footer clearfix">
 <section class="copyright"><a href="/">程序员历小冰</a> &copy; 2015 &bull; All rights reserved.</section>
 <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://zespia.tw/hexo/"> Hexo</a></section>
</footer>

  </div>
  <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-2.0.3.min.js"><\/script>')</script>

<script type="text/javascript" src="/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="/js/prism.js"></script>
<script type="text/javascript" src="/js/toc.js"></script>

<script type="text/javascript">
(function($){
  var $postContent = $(".post-content");
  $postContent.fitVids();
})(jQuery);
</script>

<script type="text/javascript" src="/js/index.js"></script>

<script src="/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
  (function($){
    var wrapAll = function(q) {
      $(q).each( function() {
        var $img = $(this),
            href = $img.attr('src');
        $img.wrap('<a rel="fancybox" href="' + href + '" title="' + $img.attr('alt') + '" class="link"></a>');
      });
    };
    wrapAll('.post-content img');
    wrapAll('.post-excerpt img');
    $('[rel="fancybox"]').fancybox();
  })(jQuery);
</script>





<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f089a91a688633df563c08899e3d893e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>



</body>
</html>
